* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.container {
    width: 1200px;
    height: 1000px;
    margin: auto;
}

.container .clear-both {
    clear: both;
}

/* start header */

.container .header {
    width: 90%;
    height: 100px;
}

.container .header .logo img {
    width: 85px;
    height: 70px;
    margin: 15px;
}

.container .header .logo {
    float: left;
}

.container .header .navbar {
    float: right;
    width: 50%;
}

.container .header .navbar i {
    float: left;
    margin-top: 41.5px;
    cursor: pointer;
}

.container .header .navbar ul {
    float: right;
}

.container .header .navbar ul li {
    list-style: none;
    margin-top: 40.5px;
    float: left;
    margin-right: 20px;
}

.container .header .navbar ul li a {
    text-decoration: none;
    margin: 15px;
    border: 2px solid white;
    padding-bottom: 10px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.container .header .navbar ul li a:hover {
    border-bottom: 2px solid black;
}

/* end header */

/* start description */

.container .description {
    width: 90%;
    height: 200px;
    background-color: rgb(107, 105, 105);
    color: white;
}

.container .description .title {
    float: left;
}

.container .description .title h2 {
    font-size: 40px;
    margin-left: 150px;
    margin-top: 50px;
}

.container .description .title h1 {
    font-size: 80px;
    margin-left: 170px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.container .description .paragraph {
    float: right;
    width: 50%;
    margin-top: 60px;
}

.container .description .paragraph p {
    text-align: justify;
    margin-right: 20px;
    margin-bottom: 10px;
}

.container .description .paragraph a {
    text-decoration: none;
    margin: 15px;
    border: 2px solid rgb(107, 105, 105);
    padding-bottom: 5px;
    color: white;
    font-weight: bold;
}

.container .description .paragraph a:hover {
    border-bottom: 2px solid white;
}

/* end description */

/*  start article */

.container .article img {
    width: 200px;
    height: 200px;
}

.container .article {
    width: 90%;
    height: 250px;
    margin-top: 5px;
}

.container .article .kitchen {
    margin: 10px;
    padding: 10px;
    width: 45%;
    height: 95%;
    float: left;
}

.container .article .kitchen .img {
    width: 50%;
    float: left;    
}

.container .article .kitchen .desc {
    width: 45%;
    float: right;
    text-align: justify;
}

.container .article .bedroom {
    margin: 10px;
    padding: 10px;
    width: 45%;
    height: 95%;
    float: right;
}

.container .article .bedroom .img {
    width: 50%;
    float: left;
    }

.container .article .bedroom .desc {
    width: 45%;
    float: right;
    text-align: justify;
}

.container .article .desc h4{
    margin-bottom: 10px;
    font-weight: bold;
}

.container .article .desc p{
    margin-bottom: 10px;
}

.container .article .desc a{
    text-decoration: none;
    border: 2px solid white;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.container .article .desc a:hover{
    border-bottom: 2px solid black;
}

/*  end article */

/* start footer */

.container .footer {
    width: 90%;
    height: 60px;
    margin-top: 5px;
}

.container .footer .address {
    float: left;
    margin-left: 25%;
}

.container .footer .address h5 {
    font-weight: bold;
    color: rgb(107, 105, 105);
    text-transform: lowercase;
}

.container .footer .links {
    float: right;
    width: 50%; 
}

.container .footer .links i {
    margin: 0px 10px;
    color: rgb(107, 105, 105);
}

.container .footer .links i:hover {
    color: black;
}

/* end footer */